#enregistrer {
  margin-top : 7em;
  margin-right : 3em;
}

#media img {

  width : 10em;
}

#explications h4 {

  margin : 3em;
  font-size: 2em;

}
#1 {
  backgournd-image : image-url("photo.png");
}
#2 {
  background-image : image-url("smart_tab.png");
}
#image3 {
  background-image : image-url("apple.jpeg");

}

#4 {
  background-image : image-url("windows.png");
}
#5 {
background-image : image-url("photo.png");

}
#6 {
  background-image : image-url("app_photo.jpeg");
}
#7 {
  background-image : image-url("selfie.png");
}
#8 {
  background-image : image-url("booth.png");
}
#9 {
  background-image : image-url("booth2.png");
}
#10 {
  backgroune-image : image-url("booth3.png");
}
#11 {
  background-image : image-url("windows.png");
}





















