<div id="footer">
    <div class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-4">
                <ul class="list-inline social">
                    <li>
                      <a href="https://twitter.com/iceme">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://facebook.com/iceme">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://instagram.com/iceme">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://youtube.com/iceme">
                        <i class="fa fa-youtube"></i>
                      </a>
                    </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <p><strong>Coordonnées</strong></p>
                  <p>9 avenue de Normandie</p>
                  <p>06000 Nice</p>
              </div>
              <div class="col-xs-12 col-sm-4">
                  <strong>Contact</strong>
                  <p>Mail : mymessage@gmail.com</p>
                  <p>Tel : 04 05 06 07 08</p>
            </div>
          </div>
      </div>
    </div>
